# Ignore build outputs
/bin/
/obj/

# Ignore Visual Studio workspace files
*.suo
*.user
*.userosscache
*.rsuser
*.vssscc
*.vspscc

# Ignore SQL Server database files
*.mdf
*.ldf
*.ndf

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore Visual Studio cache
.vs/
