/* =========================================
   Create Database
========================================= */
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'studentDB')
BEGIN
    CREATE DATABASE studentDB;
END
GO

USE studentDB;
GO

/* =========================================
   Departments Table
========================================= */
CREATE TABLE Departments (
    DepartmentID INT IDENTITY(1,1) PRIMARY KEY,
    DepartmentName NVARCHAR(100) NOT NULL,
    Description NVARCHAR(255) NULL
);
GO

/* =========================================
   Courses Table
========================================= */
CREATE TABLE Courses (
    CourseID INT IDENTITY(1,1) PRIMARY KEY,
    CourseName NVARCHAR(100) NOT NULL,
    CreditHours INT NOT NULL,
    Description NVARCHAR(255) NULL,
    DepartmentID INT NULL
);
GO

/* =========================================
   Students Table
========================================= */
CREATE TABLE Students (
    StudentID INT IDENTITY(1,1) PRIMARY KEY,
    FirstName NVARCHAR(50) NULL,
    LastName NVARCHAR(50) NULL,
    Age INT NULL,
    Gender NVARCHAR(10) NULL,
    Address NVARCHAR(100) NOT NULL,
    DepartmentID INT NULL
);
GO

/* =========================================
   Grades Table
========================================= */
CREATE TABLE Grades (
    GradeID INT IDENTITY(1,1) PRIMARY KEY,
    StudentID INT NOT NULL,
    CourseID INT NOT NULL,
    Grade FLOAT NOT NULL,
    GradeDate DATE DEFAULT GETDATE()
);
GO

/* =========================================
   Users Table
========================================= */
CREATE TABLE Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL UNIQUE,
    Password NVARCHAR(255) NOT NULL,
    Role NVARCHAR(20) NOT NULL
);
GO

/* =========================================
   Foreign Keys
========================================= */
ALTER TABLE Courses
ADD CONSTRAINT FK_Courses_Departments
FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID);
GO

ALTER TABLE Students
ADD CONSTRAINT FK_Students_Departments
FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID);
GO

ALTER TABLE Grades
ADD CONSTRAINT FK_Grades_Students
FOREIGN KEY (StudentID) REFERENCES Students(StudentID);
GO

ALTER TABLE Grades
ADD CONSTRAINT FK_Grades_Courses
FOREIGN KEY (CourseID) REFERENCES Courses(CourseID);
GO

/* =========================================
   Default Admin User
========================================= */
INSERT INTO Users (Username, Password, Role)
VALUES ('admin', '12345', 'admin');
GO
